catkin-pkg==1.1.0
distro==1.9.0
docutils==0.23
gitdb==4.0.12
GitPython==3.1.50
numpy==2.4.6
packaging==26.2
pybullet==3.2.7
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
robot_descriptions==2.0.0
rospkg==1.6.1
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
smmap==5.0.3
tqdm==4.68.1
xacro==2.1.1
xacrodoc==2.0.1
